[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
presto-client = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]
parquet-tools = "*"
dataclasses = "*"

[requires]
python_version = "3.6"
